# Ignore virtual environments
myenv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]

# Environment and config
.env
*.env

# Logs
*.log

# macOS
.DS_Store

# Jupyter
*.ipynb_checkpoints/

# VS Code
.vscode/
